*{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  }
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  }

/*=============================Desktops=============================*/
body {
  font-family: 'Abel', sans-serif;
  background-color: #f2f2f2;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  height: 100%;
  }

.clear {
  clear: both;
  }

.header-container{
  background-color:#ed5249;
  padding-top: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

.top-add{
  z-index: 3;
  margin-top: -60px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  font-size: 13px;
  grid-column: span 12;
  }

.top-add a{
  text-decoration: none;
  color:#f9f9f9;
  }

header{
  grid-column: span 4;
  background-color: #ed5249;
  border-bottom: 5px solid #b30000;
  }

.header-img{
  padding-left: 15px;
  height: 135px;
  margin-top: -60px;
  margin-bottom: -50px;
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
.navbar-center{
  text-align: center;
  }

nav{
  grid-column: span 8;
  }

.small-nav{
  display: none;
  }
.small-nav-center{
  display: none;
  }

.page-wrap {
  z-index: 10;
  margin: 0px auto;
  height: 100%;
  }

#main-menu {
  background:#ed5249; /* <-- use shorthand */
  height: 54px;
  width: 100%; /* <-- don't need, default */
  padding: 0px; /* <-- don't need unit on 0 */
  margin: 0px; /* <-- don't need unit on 0 */
  border-bottom: 5px solid #b30000; /* <-- use shorthand */
  }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

nav ul li {
  display: inline-block;
  position: relative;
  }

nav ul li > a {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #f9f9f9; /* <-- use shorthand */
  padding: 0px 15px 0 15px; /* <-- use shorthand */
  //background: #ed5249; /* <-- use shorthand, is it needed? */
  margin-left: 10px;
  white-space: nowrap;
  line-height: 55px;
  font-size: 18px;
  font-family: 'Chakra Petch', sans-serif;
  outline: none;
  }

nav ul li > a:hover:not(.active) {
  text-decoration: none;
  color: #b30000; /* <-- use shorthand */
  }

nav a.active:hover{
  text-decoration: none;
  color: #f9f9f9
  }

#menu > li > a:hover:after{
  content: "";
  position: absolute;
  top: 45px; /* <-- change value to better position */
  left: 50%; /* centers the element's left edge */
  margin-left: -15px; /* <-- moves it back half it's own width */
  width: 0px; /* <-- don't need unit on 0 */
  height: 0px; /* <-- don't need unit on 0 */
  xxmargin: 0px auto; /* <-- eliminate, use above margin */
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #b30000; /* <-- change to bottom for up arrow */
  }

.active{
  color: #f9f9f9;
  background-color: #b30000;
  }

.main-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 1100px;
  margin: auto;
  font-size: 16px;
  color:#1a1a1a;
  padding: 15px;
  background-color: #ffffff;
  }

.body-header{
  margin-top: 15px;
  border-top-right-radius: 50px;
  padding:10px;
  grid-column: span 12;
  background-color:#003366;/*#40bf80;*/
  color: white;
  }

.main-img{
  margin-left: -1px;
  grid-column: span 12;
  width: 100%;
  border-bottom-left-radius: 50px;
  margin-right: -4px;
  }

.l-side{
  text-align: right;
  grid-column: span 5;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-right: 1px solid red;
  border-top: 1px solid red;
  }

.r-side{
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-column: span 7;
  border-bottom: 1px solid red;
  padding: 15px;
  }

.footer-container{
  font-size: 16px;
  color: #d9d9d9;
  padding-right: 50px;
  padding-left: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #0d0d0d;
  }

.footer-container a{
  color:#d9d9d9;
  text-decoration: none;
  }

.footer-container a:hover{
  color:#40bf80;
  }

.footer-div{
  padding: 15px;
  grid-column: span 3;
  }

.footer-head{
  border-bottom:1px solid #8600b3;
  padding-bottom:5px;
  }

.footer-div ul li{
  list-style: none;
  }


/*=====================================Tabs==================================*/
@media screen and (max-width: 900px) {
  nav ul li a {
    font-size:13px;
    padding: 0 10px 0 10px;
    }

  .footer-container{
    padding-left: 5px;
    padding-right: 5px;
    }

  .footer-div{
    grid-column: span 6;
  }
}



/*========================================Mobiles======================================*/
@media screen and (max-width: 650px) {
  header{
    grid-column: span 10;
    }

  nav{
    grid-column: span 2;
    }

  .main-container{
    padding: 0px;
    }

  .r-side{
    border-top:  1px solid red;
    border-left: 1px solid red;
    border-bottom: none;
    grid-column: span 12;
    margin: 0px 10px 10px 10px;
    }
  .l-side{
    margin: 10px 10px 0px 10px;
    border-top: none;
    grid-column: span 12;
    }

  .footer-container{
    padding-left: 0px;
    padding-right: 0px;
    }

  .page-wrap{
    display:none;
    }
  .small-nav{
    display: block;
    }
  .small-nav-center{
    display: block;
    }

  .footer-div{
    grid-column: span 12;
  }
}


/*=============================Dropdown Menu===========================*/
.dropdown {
    position: relative;
    display: inline-block;
    }

.dropdown-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    display: none;
    right: 0;
    position: absolute;
    background-color: #b30000;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    border-bottom: 1px solid #802000;
    text-align: left;
    font-size: 14px;
    color: #e6e6e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
.dropdown-content a:nth-last-child(1){
    border-bottom: none;
    }

.dropdown-content a:hover {background-color: #ed5249}
.dropdown-content a:hover:nth-last-child(1){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }

.dropdown:hover .dropdown-content {display: block;}


/*============================ small navbar ====================================*/
  .small-nav{
      float:right;
      font-size:40px;
      cursor:pointer;
      color:white;
      padding-right:15px;
      }
  .small-nav-center{
      text-align: center;
      font-size:40px;
      cursor:pointer;
      color:white;
      padding-right:15px;
      }

  .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
      }

  .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      }

  .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 16px;
      color: #818181;
      display: block;
      transition: 0.3s;
      }

  .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
      }

  .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      }

 @media screen and (max-height: 450px) {
   .overlay a {
      font-size: 20px
      }
   .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
}

/*=================Social media icons=======================*/
.icon {
    width: 75px;
    background-color: #555;
    position: fixed;
    z-index: 89;
    opacity:0.7;
    bottom:0;
    left: 0;
    }

.icon a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    }

.icon a:hover {
    background-color: #000;
    }

.icon-bar {
	  overflow-y: hidden;
    height: 0px;
    width:75px;
    transition: 0.5s;
    background-color: #555;
    position: fixed;
    z-index: 90;
    bottom: 0;
    left: 0;
    }

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    }

.icon-bar a:hover {
    background-color: #000;
    }

.facebook {
    background-color:#3B5998;
    }
.youtube {
    background-color: #bb0000;
    }
.twitter {
    background-color: #55ACEE;
    }
